/*
www.cs.cmu.edu/~112/
*/

:root {
    /* --color1: #a360fb; */
    /* --color2: #ba85ff; */
    /* --color3: #c9a0ff; */
    /*--color1: #005e80;
    --color2: #0e789e;
    --color3: #218fb8;*/
  
  /*  --color2: #7369E9;
    --color1: #5043E4;
    --color3: #616EA8;*/
  
    --color2: #1887e5;
    --color1: #133497;
    --color3: #1f4db7;
  
    --colorNotice: #6439f3;
  }
  
  font.optional {
    color: #009600;
  }
  font.notice {
    color: var(--colorNotice);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5
  }
  
  font.snippet {
    font-family: Consolas, Monospace !important;
  }
  
  /* Overriding bootstrap.min.css components*/
  
  a {
    color: var(--color3);
    text-decoration: underline
  }
  
  a:hover,
  a:focus {
    color: var(--color1);
    text-decoration: underline
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: var(--color1)
  }
  
  /* Removing underlines from header text in lists */
  /* (Surely, there is a better way to do this than repeating) */
  h1>ol>li>a {
    text-decoration: none
  }
  
  h1>ol>ol>li>a {
    text-decoration: none
  }
  
  h1>ol>li>ol>li>a {
    text-decoration: none
  }
  
  h1>ol>ul>li>a {
    text-decoration: none
  }
  
  h1>ol>li>ul>li>a {
    text-decoration: none
  }
  
  h1>ul>li>a {
    text-decoration: none
  }
  
  h1>ul>ol>li>a {
    text-decoration: none
  }
  
  h1>ul>li>ol>li>a {
    text-decoration: none
  }
  
  h1>ul>ul>li>a {
    text-decoration: none
  }
  
  h1>ul>li>ul>li>a {
    text-decoration: none
  }
  
  h2>ol>li>a {
    text-decoration: none
  }
  
  h2>ol>ol>li>a {
    text-decoration: none
  }
  
  h2>ol>li>ol>li>a {
    text-decoration: none
  }
  
  h2>ol>ul>li>a {
    text-decoration: none
  }
  
  h2>ol>li>ul>li>a {
    text-decoration: none
  }
  
  h2>ul>li>a {
    text-decoration: none
  }
  
  h2>ul>ol>li>a {
    text-decoration: none
  }
  
  h2>ul>li>ol>li>a {
    text-decoration: none
  }
  
  h2>ul>ul>li>a {
    text-decoration: none
  }
  
  h2>ul>li>ul>li>a {
    text-decoration: none
  }
  
  h3>ol>li>a {
    text-decoration: none
  }
  
  h3>ol>ol>li>a {
    text-decoration: none
  }
  
  h3>ol>li>ol>li>a {
    text-decoration: none
  }
  
  h3>ol>ul>li>a {
    text-decoration: none
  }
  
  h3>ol>li>ul>li>a {
    text-decoration: none
  }
  
  h3>ul>li>a {
    text-decoration: none
  }
  
  h3>ul>ol>li>a {
    text-decoration: none
  }
  
  h3>ul>li>ol>li>a {
    text-decoration: none
  }
  
  h3>ul>ul>li>a {
    text-decoration: none
  }
  h3>ul>li>ul>li>a {
    text-decoration: none
  }
  
  .navbar-default {
    background-color: var(--color2);
    border-color: var(--color1)
  }
  
  .navbar-default .navbar-brand {
    color: #ffffff;
    text-decoration: none
  }
  
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: none
  }
  
  .navbar-default .navbar-text {
    color: #dddddd
  }
  
  .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    text-decoration: none
  }
  
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: var(--color1)
  }
  
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: var(--color1)
  }
  
  .navbar-default .navbar-nav>.disabled>a,
  .navbar-default .navbar-nav>.disabled>a:hover,
  .navbar-default .navbar-nav>.disabled>a:focus {
    color: #dddddd;
    background-color: transparent
  }
  
  .navbar-default .navbar-toggle {
    border-color: var(--color1)
  }
  
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: var(--color1)
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff
  }
  
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: var(--color1)
  }
  
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    background-color: #178acc;
    color: #ffffff
  }
  
  @media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #ffffff
    }
  
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
      color: #ffffff;
      background-color: #178acc
    }
  
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
      color: #ffffff;
      background-color: var(--color1)
    }
  
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
      color: #dddddd;
      background-color: transparent
    }
  }
  
  .navbar {
    background-image: -webkit-linear-gradient(var(--color2), var(--color2) 20%, var(--color1));
    background-image: -o-linear-gradient(var(--color2), var(--color2) 20%, var(--color1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color3)), color-stop(60%, var(--color2)), to(var(--color1)));
    background-image: linear-gradient(var(--color2), var(--color2) 20%, var(--color1));
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    border-bottom: 1px solid var(--color1);
    -webkit-filter: none;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1)
  }
  
  .navbar-default .badge {
    background-color: #fff;
    color: var(--color2)
  }